In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataset = pd.read_json('/Users/NBAndaru/Documents/UCG/Machine_learning/pararius.json')

In [5]:
dataset.head()

,Neighbourhood,Postal code,Street,Available from,Offered since,markets,long,lat,rent,area,bedrooms,from_center,Province
0,Binnenstad,9712 HV,Grote Markt,Immediately,> 3 months,"{'Albert Heijn': 412.0, 'ALDI-Markt': 139.0, '...",6.567619,53.219301,1150,83,1,67.890664,NaN
1,Binnenstad,9712 HV,Grote Markt,Immediately,> 3 months,"{'Albert Heijn': 415.0, 'ALDI-Markt': 142.0, '...",6.567664,53.219308,1150,100,1,68.090112,NaN
2,Binnenstad,9712 AC,Hoge der A,Immediately,> 3 months,"{'Albert Heijn': 246.0, 'ALDI-Markt': 433.0, '...",6.559815,53.217461,2600,45,1,552.107837,NaN
3,Schilders- en Zeeheldenwijk,9718 BR,Westerbinnensingel,Immediately,> 3 months,"{'Albert Heijn': 349.0, 'ALDI-Markt': 549.0, '...",6.558107,53.217176,950,49,1,670.487830,NaN
4,Herewegwijk en Helpman,9725 AJ,Hereweg,Immediately,> 3 months,"{'Plus': 411.0, 'Coop': 585.0, 'ALDI-Markt': 8...",6.573487,53.207209,1100,65,1,1334.082848,NaN

In [11]:
x = dataset[['area','bedrooms','from_center']]
y = dataset['rent']

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [13]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() 
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
coeff_df = pd.DataFrame(regressor.coef_, x.columns, columns =['Coefficient'])
coeff_df

             Coefficient
area            7.040913
bedrooms      -36.698534
from_center    -0.070918