In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.naive_bayes import MultinomialNB

In [4]:
data = pd.read_csv('/Users/NBAndaru/Documents/UCG/Machine_learning/spam.csv',encoding='latin-1')

In [6]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
x = data.v2
y = data.v1
x_train, x_test, y_train, y_test = train_test_split(x, y)
vect = CountVectorizer()
counts = vect.fit_transform(x_train.values)

In [9]:
classifier = MultinomialNB()
targets = y_train.values
classifier.fit(counts, targets)

counts_test = vect.transform(x_test.values)
y_pred = classifier.predict(counts_test)

df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [11]:
df.head()

     Actual Predicted
197     ham       ham
5339    ham       ham
2219   spam      spam
4739    ham       ham
21      ham       ham

In [12]:
from sklearn.metrics import confusion_matrix, accuracy_score
mat = confusion_matrix(y_test, y_pred)
print("Confusion Matrix", mat)
print("Accuracy", accuracy_score(y_test, y_pred))

Confusion Matrix [[1206    4]
 [  10  173]]
Accuracy 0.9899497487437185