In [15]:
import pandas as pd
titanic = pd.read_csv('C:/Users/mailv/OneDrive/Documents/Machine_learning/titanic.csv')
import csv

In [16]:
titanic.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [159]:
titanic=open('C:/Users/mailv/OneDrive/Documents/Machine_learning/titanic.csv')

In [160]:
TP=0
FN=0
FP=0
TN=0

In [209]:
titanic=open('C:/Users/mailv/OneDrive/Documents/Machine_learning/titanic.csv')
TP=0
FN=0
FP=0
TN=0
#1=survive
for i in titanic:
    try: 
        x=i.split(',')
        if x[5]=='female':
            if x[1]=='1':
                TP+=1
            else:
                FP+=1
        if x[5]=='male':
            if x[1]=='1':
                FN+=1
            else:
                TN+=1
    except:
        pass

In [210]:
print(TN,FN,FP,TP)

468 109 81 233

In [211]:
Accuracy=((TN+TP)/(TN+TP+FN+FP))
print("The accuracy is:",Accuracy*100,'%')

The accuracy is: 78.67564534231201 %

In [233]:
titanic=open('C:/Users/mailv/OneDrive/Documents/Machine_learning/titanic.csv')

TP=0
FN=0
FP=0
TN=0
for i in titanic:
    try: 
        x=i.split(',')
        if x[5]=='female':
            if x[1]=='1':
                TP+=1
            else:
                FP+=1
        if x[5]=='male':
            if int(x[6])<= 15:
                if x[1]=='1':
                    TP+=1
                else: 
                    FP+=1
            elif int(x[6])> 15:
                if x[1]=='1':
                    FN+=1
                else:
                    TN+=1
            else:
                if x[1]=='1':
                    FN+=1
                else:
                    TN+=1
    except:
        pass
print(TP,FN,TN,FP)

249 72 326 100

In [234]:
Accuracy=((TN+TP)/(TN+TP+FN+FP))
print("The accuracy is:",Accuracy*100,'%')

The accuracy is: 76.97456492637215 %